<div class="header">
  <h1>My Games</h1>
  <div class="header-right">
    <label for="search-box-id" class="search-label">Search game:</label>
    <input
      id="search-box-id"
      class="search-input"
      placeholder="Search game"
      (keyup)="debounce.next($event)"
      [value]="value"
    />
    <button mat-button (click)="openDialog()">Insert new game</button>
  </div>
</div>
<div class="cards">
  <app-game-card
    class="card"
    *ngFor="let gameItem of this.gamesList"
    [game]="gameItem"
  ></app-game-card>
</div>
