.cards {
  display: flex;
  flex-wrap: wrap;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 0px 10px;
}

.header h1 {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;

  font-size: 25px;
  font-weight: bold;
}

.header {
  color: white;
}

.header-right {
  float: right;
}
.search-label {
  color: black;
  margin-right: 5px;
}
.search-input {
  height: 40px;
  margin-top: 12px;
}
