.card-content {
  display: flex;
  border: 1px;
  width: 400px;
  flex-wrap: wrap;
  outline: 0px solid black;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px;

  .label {
    width: 150px;
    font-weight: bold;
    text-align: right;
    padding-right: 2px;
  }
  .value {
    width: 248px;
  }
}

/* On mouse-over, add a deeper shadow */
.card-content:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
