<div class="card-content">
  <p class="label">Title:</p>
  <p class="value">{{ this.game.title }}</p>
  <p class="label">Year:</p>
  <p class="value">
    {{ this.game.year }} ({{ this.calculateAge() }} years old)
  </p>
  <p class="label">Console:</p>
  <p class="value">{{ this.game.console }}</p>

  <p class="label">Personal Notes:</p>
  <p class="value">{{ this.game.notes }}</p>
  <p class="label">Completed:</p>
  <p class="value">
    <mat-slide-toggle
      [checked]="this.game.completed"
      [disabled]="true"
    ></mat-slide-toggle>
  </p>
  <p class="label"></p>
  <p class="value" *ngIf="this.game.completed">
    <mat-form-field>
      <input
        matInput
        readonly="true"
        [matDatepicker]="picker"
        placeholder="Date of completion"
        [formControl]="date"
      />
      <mat-datepicker-toggle
        disabled="true"
        matSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker disabled="true" #picker></mat-datepicker>
    </mat-form-field>
  </p>
</div>
