<h2 mat-dialog-title>New Game</h2>
<div class="card-content">
  <form class="main-form" [formGroup]="this.cardForm">
    <p class="label">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input
          maxlength="100"
          matInput
          [formControl]="this.getFormControl('title')"
        />
      </mat-form-field>
    </p>
    <p class="label">
      <mat-form-field appearance="fill">
        <mat-label>Year</mat-label>
        <input
          type="number"
          min="1970"
          required
          matInput
          [formControl]="this.getFormControl('year')"
        />
      </mat-form-field>
    </p>
    <p class="label">
      <mat-form-field appearance="fill">
        <mat-label>Console</mat-label>
        <input matInput [formControl]="this.getFormControl('console')" />
      </mat-form-field>
    </p>

    <p class="label">
      <mat-form-field appearance="fill">
        <mat-label>Personal Notes</mat-label>
        <input matInput [formControl]="this.getFormControl('notes')" />
      </mat-form-field>
    </p>

    <p class="label">
      <mat-slide-toggle [formControl]="this.getFormControl('completed')">
        Completed!
      </mat-slide-toggle>
    </p>
    <p class="label margin-top" *ngIf="this.getFormControl('completed').value">
      <mat-form-field>
        <input
          matInput
          readonly="true"
          [matDatepicker]="picker"
          placeholder="Date of completion"
          [formControl]="this.getFormControl('date')"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>
    <button class="margin-top" mat-button (click)="this.save()">Save</button>
  </form>
</div>
