.main-form {
  display: flex;
  border: 1px;
  width: 400px;
  flex-wrap: wrap;
  margin: 20px;
  padding: 10px;

  .label {
    width: 100%;
    display: flex;
    margin: 0;
  }
  .margin-top {
    margin-top: 10px;
  }
}
mat-form-field {
  width: 100%;
}
